<%- include("partials/header.ejs") %>

  <%- include("partials/navbar.ejs") %>

    <div>
      <div>
        <h1>Student Details</h1>
        <div>
          <h4>
            <%= student.name </h4>
              <h4>
                <%= student.email </h4>
                  <h4>
                    <%= student.age </h4>
        </div>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>